* {
    box-sizing: border-box;
}
body{
  background-color: var(--body-background);
  font-family: var(--font-family);
  width: 100vw;
  height: 100vh;
}

.container{
  height: inherit;
  display: grid;
  place-items: center;
  position: relative;
}
.container::before{
  content: "";
  background-image: url(./src/assets/images/bg-top.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 368px;
  height: 562px;
  top: 0;
  right: 0;
  transform: translate(50%);
  z-index: -1;
}
.container::after{
  content:"";
  background-image: url(./src/assets/images/bg-bottom.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 357px;
  height: 305px;
  bottom: 0;
  left: 0;
  transform: translate(-50%);
  z-index: -1;
}

#app {
  margin: 70px auto;
  font-weight: var(--font-weight);
}
/* 不使用display:none和visibility:hidden的隱藏方法 
前者會影響鍵盤控制，後者隱藏但會佔空位，所以用這個sr-only的方式
畫面上看起來隱藏了但鍵盤滑鼠依然能控制選取，既不占空間也不影響美觀和無障礙設置*/
/* 隱藏 */
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

/* RWD */
@media (max-width: 768px){
    .container::after{
        display: none;
    }
}