* {
    box-sizing: border-box;
}
body{
  background-color: var(--body-background);
  font-family: var(--font-family);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

/* 背景裝飾 */
.bg-decor{
  position: fixed; 
  pointer-events: none; /* 讓背景裝飾不會干擾到使用者的點擊事件 */
  z-index: -1; /* 確保背景裝飾在其他元素的下方 */
}
.top-right{
  width: 360px;
  height: 562px;
  background-image: url(./images/bg-top.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
  transform: translateX(10%);
}

.bottom-left{
  width: 357px;
  height: 305px;
  background-image: url(./images/bg-bottom.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 0;
  transform: translate(-10%, 10%);
}

.container{
  width: 90%;
  max-width: 1050px;
  min-width: 375px;
  display: grid;
  place-items: center;
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
}

#app {
  font-weight: var(--font-weight);
}
/* 不使用display:none和visibility:hidden的隱藏方法 
前者會影響鍵盤控制，後者隱藏但會佔空位，所以用這個sr-only的方式
畫面上看起來隱藏了但鍵盤滑鼠依然能控制選取，既不占空間也不影響美觀和無障礙設置*/
/* 隱藏 */
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

/* RWD */
@media (max-width: 800px){
  .top-right{
    transform: translateX(50%);
  }
  .bottom-left{
      display: none;
  }
}